<div class="grid flex">
    <div class="col-12 md:col-8 flex-order-1 md:flex-order-0">
        <p-card header="Bayan List">
            <p-table [value]="addresses" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Company Name</th>
                        <th>Country</th>
                        <th>Contact Person</th>
                        <th>Mobile</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-address>
                    <tr>
                        <td>{{ address.companyName }}</td>
                        <td>{{ address.country }}</td>
                        <td>{{ address.contactPerson }}</td>
                        <td>{{ address.contactNumber }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
    <div class="col-12 md:col-4 flex-order-0 md:flex-order-1">

        <p-card header="Bayan Form">
            <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
                <div class="grid p-fluid">
                    <div class="field col-12">
                        <p-floatLabel>
                            <input pInputText formControlName="declarationDate" />
                            <label>Declaration Date</label>
                        </p-floatLabel>
                    </div>
                    <div class="field col-12">
                        <p-floatLabel>
                            <input pInputText formControlName="declarationNumber" />
                            <label>Declaration Number</label>
                        </p-floatLabel>
                    </div>
                    <div class="field col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6">
                        <p-floatLabel>
                            <input pInputText formControlName="invoiceAmountInOMR" />
                            <label>Invoice Amount In OMR</label>
                        </p-floatLabel>
                    </div>
                    <div class="field col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6">
                        <p-floatLabel>
                            <input pInputText formControlName="freightChargesInOMR" />
                            <label>Freight Charges In OMR</label>
                        </p-floatLabel>
                    </div>
                    <div class="field col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6">
                        <p-floatLabel>
                            <input pInputText formControlName="insuranceChargesInOMR" />
                            <label>Insurance Charges In OMR</label>
                        </p-floatLabel>
                    </div>
                    <div class="field col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6">
                        <p-floatLabel>
                            <input pInputText formControlName="totalCIFValueInOMR" />
                            <label>Total CIF Value In OMR</label>
                        </p-floatLabel>
                    </div>
                    <div class="field col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6">
                        <p-floatLabel>
                            <input pInputText formControlName="invoicePDF" />
                            <label>Invoice PDF</label>
                        </p-floatLabel>
                    </div>
                    <div class="field col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6">
                        <p-floatLabel>
                            <input pInputText formControlName="declarationScreenshot" />
                            <label>Declaration Screenshot</label>
                        </p-floatLabel>
                    </div>
                    <div class="field col-12">
                        <p-floatLabel>
                            <input pInputText formControlName="delcarationPDF" />
                            <label>Delcaration PDF Colored</label>
                        </p-floatLabel>
                    </div>
                    
                    <div class="field col-12 sm:col-6 md:col-12 lg:col-6">
                        <p-button label="Add Bayan" [raised]="true" severity="primary" icon="pi pi-plus"
                            type="submit" />
                    </div>
                    <div class="field col-12 sm:col-6 md:col-12 lg:col-6 ">
                        <p-button label="Clear" [raised]="true" severity="warning" icon="pi pi-eraser" />
                    </div>
                </div>
            </form>
        </p-card>
    </div>
</div>