<p-card>
    <form [formGroup]="shipmentForm" (ngSubmit)="onSubmit()">
        <div class="grid p-fluid">
            <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6 mb-2">
                <p-floatLabel>
                    <input pInputText formControlName="invoiceNumber" />
                    <label>Invoice #</label>
                </p-floatLabel>
            </div>
            <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6 mb-2">
                <p-floatLabel>
                    <p-calendar formControlName="invoiceDate" />
                    <label>Invoice Date</label>
                </p-floatLabel>
            </div>
            <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6 mb-2">
                <p-floatLabel>
                    <p-dropdown [options]="consignees" formControlName="consignee" optionLabel="name" />
                    <label>Consignee</label>
                </p-floatLabel>
            </div>
            <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6 mb-2">
                <p-floatLabel>
                    <p-dropdown [options]="shippers" formControlName="shipper" optionLabel="name" />
                    <label>Shipper</label>
                </p-floatLabel>
            </div>
            <div class="col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12 mb-2">
                <p-floatLabel>
                    <p-chips formControlName="brandList" />
                    <label>Brands Name</label>
                </p-floatLabel>
            </div>
            <div class="col-6 xl:col-6 lg:col-6 md:col-12 sm:col-6 mb-2">
                <p-floatLabel>
                    <p-inputNumber formControlName="qty" />
                    <label>Quantity</label>
                </p-floatLabel>
            </div>
            <div class="col-6 xl:col-6 lg:col-6 md:col-12 sm:col-6 mb-2">
                <p-floatLabel>
                    <p-inputNumber formControlName="qtySet" />
                    <label>Quantity Set</label>
                </p-floatLabel>
            </div>
            <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6 mb-2">
                <p-floatLabel>
                    <p-inputNumber formControlName="ctns" />
                    <label>Cartons</label>
                </p-floatLabel>
            </div>
            <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6 mb-2">
                <p-floatLabel>
                    <p-inputNumber formControlName="pallets" />
                    <label>Pallets</label>
                </p-floatLabel>
            </div>
            <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6 mb-2">
                <p-floatLabel>
                    <p-inputNumber [minFractionDigits]="2" formControlName="amount" />
                    <label>Amount</label>
                </p-floatLabel>
            </div>
            <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6 mb-2">
                <p-floatLabel>
                    <p-dropdown [options]="currancyList" formControlName="currancy" optionLabel="code" />
                    <label>Currancy</label>
                </p-floatLabel>
            </div>
            <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6 mb-2">
                <p-floatLabel>
                    <p-inputNumber [minFractionDigits]="2" formControlName="netWeight" />
                    <label>Net Weight</label>
                </p-floatLabel>
            </div>
            <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6 mb-2">
                <p-floatLabel>
                    <p-inputNumber [minFractionDigits]="2" formControlName="grossWeight" />
                    <label>Gross Weight</label>
                </p-floatLabel>
            </div>
            <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6 mb-2">
                <p-floatLabel>
                    <p-inputNumber [minFractionDigits]="2" formControlName="grossWeightPallet" />
                    <label>Gross Weight + PLTS</label>
                </p-floatLabel>
            </div>
            <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6 mb-2">
                <p-floatLabel>
                    <p-dropdown [options]="incoTerms" formControlName="incoTerms" optionLabel="name" />
                    <label>Inco Terms</label>
                </p-floatLabel>
            </div>
            <div class="col-12 mb-2">
                <p-floatLabel>
                    <input pInputText formControlName="customerTrackingId" />
                    <label>Customer Ref #</label>
                </p-floatLabel>
            </div>
            <div class="col-12 sm:col-6 md:col-12 lg:col-6">
                <p-button label="Add Shipment" [raised]="true" severity="primary" icon="pi pi-plus" type="submit" />
            </div>
            <div class="col-12 sm:col-6 md:col-12 lg:col-6">
                <p-button label="Clear" [raised]="true" severity="warning" icon="pi pi-eraser" />
            </div>
        </div>
    </form>
</p-card>