<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                <h6>Address List</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-borderd">
                            <thead>
                                <th>Sr. #</th>
                                <th>Company Name</th>
                                <th>Country</th>
                                <th>Contact Person</th>
                                <th>Mobile Number</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                @for (item of addresses; track $index) {
                                <tr>
                                    <td> {{$index + 1}} </td>
                                    <td> {{ item.companyName }} </td>
                                    <td> {{ item.country }} </td>
                                    <td> {{ item.contactPerson }} </td>
                                    <td> {{ item.contactNumber }} </td>
                                    <td> {{ item.contactEmail }} </td>
                                    <td class="text-center">
                                        <button class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                                        <button class="btn btn-danger mx-2" (click)="onDelete(item.addressId)">Delete</button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Employee
            </div>
            <div class="card-body">
                <form [formGroup]="addressForm">
                    <div class="row">
                        <div class="col-12">
                            <label>Company Name</label>
                            <input type="text" formControlName="companyName" class="form-control">
                            <div class="text-danger">
                                @if (this.addressForm.controls['companyName'].touched) {
                                    @if (this.addressForm.controls['companyName'].errors?.['required']) {
                                        <span>Company name is required</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-12">
                            <label>Address</label>
                            <textarea formControlName="address" class="form-control" id=""></textarea>
                        </div>
                        <div class="col-6">
                            <label>State</label>
                            <input type="text" formControlName="state" class="form-control">
                        </div>
                        <div class="col-6">
                            <label>Country</label>
                            <input type="text" formControlName="country" class="form-control">
                        </div>
                        <div class="col-6">
                            <label>VATIN</label>
                            <input type="text" formControlName="vatin" class="form-control">
                        </div>
                        <div class="col-6">
                            <label>Contact Person</label>
                            <input type="text" formControlName="contactPerson" class="form-control">
                        </div>
                        <div class="col-6">
                            <label>Mobile Number</label>
                            <input type="text" formControlName="contactNumber" class="form-control">
                        </div>
                        <div class="col-6">
                            <label>Email</label>
                            <input type="text" formControlName="contactEmail" class="form-control">
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-6 text-center">
                            <button class="btn btn-danger" (click)="reset()">Reset</button>
                        </div>
                        <div class="col-6 text-center">
                            @if (addressForm.controls['addressId'].value == 0 ) {
                                <button class="btn btn-success" [disabled]="addressForm.invalid" (click)="onSave()">Save Employee</button>
                            }@else {
                                <button class="btn btn-warning" [disabled]="addressForm.invalid" (click)="onUpdate()">Update Employee</button>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>