<div class="col-12 flex-order-0 md:flex-order-1">
    <p-card header="Payment Form">
        <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
            <div class="grid p-fluid">
                <div class="col-12">
                    <p-floatLabel>
                        <input pInputText formControlName="paymentDate" />
                        <label>Payment Date</label>
                    </p-floatLabel>
                </div>
                <div class="col-12">
                    <p-floatLabel>
                        <input pInputText formControlName="paymentID" />
                        <label>Payment ID</label>
                    </p-floatLabel>
                </div>
                <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6">
                    <p-floatLabel>
                        <input pInputText formControlName="allFees" />
                        <label>All Fees</label>
                    </p-floatLabel>
                </div>
                <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6">
                    <p-floatLabel>
                        <input pInputText formControlName="customsDuty" />
                        <label>Customs Duty</label>
                    </p-floatLabel>
                </div>
                <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6">
                    <p-floatLabel>
                        <input pInputText formControlName="vatAmount" />
                        <label>Vat Amount</label>
                    </p-floatLabel>
                </div>
                <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6">
                    <p-floatLabel>
                        <input pInputText formControlName="paymentAmount" />
                        <label>Payment Amount</label>
                    </p-floatLabel>
                </div>
                <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6">
                    <p-floatLabel>
                        <input pInputText formControlName="paymentScreenshot" />
                        <label>Payment Screenshot</label>
                    </p-floatLabel>
                </div>
                <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-6">
                    <p-floatLabel>
                        <input pInputText formControlName="paymentPDF" />
                        <label>Payment PDF</label>
                    </p-floatLabel>
                </div>

                <div class="col-12 sm:col-6 md:col-12 lg:col-6">
                    <p-button label="Add Payment" [raised]="true" severity="primary" icon="pi pi-plus" type="submit" />
                </div>
                <div class="col-12 sm:col-6 md:col-12 lg:col-6 ">
                    <p-button label="Cancel" [raised]="true" severity="warning" icon="pi pi-eraser" />
                </div>
            </div>
        </form>
    </p-card>
</div>